{% extends "base.html" %}
{% load static %}
{% block title %}
    templates details
{% endblock title %}
{% block content %}
<section class="accessory section bd-container" id="accessory">
    <div class="template_container accessory__content" style="background-color: white;">
        <iframe src="/media/{{post.file}}" noborder="0" width="100%" scrolling="yes" seamless></iframe>
        {% if post.amount == 'free' %}
            <a href="/media/{{ post.folder }}" class="button accessory__button" download="{{ post.title }}">
                <span style="font-size: 1rem;">
                    Download <i class='bx bx-download'></i>
                </span>
            </a>
        {% else %}
        <form id="paymentForm">
            <div class="form-group">
                <button type="submit" onclick="payWithPaystack()" class="button accessory__button" style="cursor: pointer;"> 
                    <span style="font-size: 1rem;">
                        Download <i class='bx bx-download'></i>
                    </span>
                </button>
            </div>  
        </form>
        {% endif %}
    </div>
</section>
<a href="/media/{{ post.folder }}" download="{{ post.title }}" id="btnDownload"></a>
{% endblock content %}